<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>E - Garage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>E - Garage</b></h3>
    </div>
    <div class="w3-bar-block">
        <a th:href="@{/}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
<!--        <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Showcase</a>-->
<!--        <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Services</a>-->

<!--        <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Designers</a>-->
<!--        <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Packages</a>  -->

<!--        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>-->

        <a th:href="@{/showDashboard}" class="w3-bar-item w3-button w3-hover-white">Dashboard(Admin)</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <h1>Garage List</h1>
    <a th:href="@{/showNewGarageForm}" class="btn btn-primary btn-sm mb-3">Add Garage</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Garage Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="garage: ${GarageList}">
                <td th:text="${garage.name}"></td>
                <td th:text="${garage.email}"></td>
                <td th:text="${garage.contact}"></td>
                <td th:text="${garage.address}"></td>
                <td><a th:href="@{/showFormForUpdate/{id}(id=${garage.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/deleteGarage/{id}(id=${garage.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>
    <a th:href="@{/showDashboard}">Visitor List</a>
</div>
</body>
</html>